.env
.env.*.php
/vendor/
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
DS_Store
.vscode
.idea
*.swp
*.swo
*~
CHANGELOG.md
.phpunit.cache/
.phpunit.result.cache
composer.lock
package-lock.json
yarn.lock